.color1{
    background-color:  #90ee90 ;
}input{
    width:100%;
    border-radius: 5px;
    border:1px solid black;
    padding:5px;
    /* margin:2%; */
}
input.ng-invalid.ng-touched{
    border:1px solid red;
}
a{
  cursor: pointer;
}
span{
    color:red;
    padding-left:3%;
}
.img1{
  margin-left: 32% !important;
}


table{
    border:1px solid black;
    width: -100px;
    height: 100px;

}
.dp{
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
td{
    border:1px solid black;
    /* padding:1%; */
    overflow: hidden;
}

.btn{
    margin:1%;
}
.button1{
    float:right;
}

.inp{
    width: 80px;
    border: none;
    height: 38px;
}

.last-btn{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-left:40%;
}

.modal-header{
  background-color: #90ee90;
}
button{
  background-color: #90ee90;
  border: none;
}

button:disabled,
button[disabled]{
  border: none;
  background-color: #90ee90;
  color: #666666;
  opacity: 0.5;
}
a{
  color:#90ee90
}
























