<!--   

 <div class="container">
    <form (keydown.space)="$event.preventDefault()" [formGroup]="profileForm"  (ngSubmit)="onSubmit($event)">
    <label for="firstname">First Name</label><br>
    <input placeholder="Please Enter Your First Name"formControlName="firstName"><br>
    <span *ngIf="!profileForm.get('firstName').valid && profileForm.get('firstName').touched" class="help-block">please Enter a valid Firstname with atleast 3 charecter!</span><br>
    <label>last Name</label><br>
    <input placeholder="Please Enter Your Last Name" formControlName="lastName"><br>
    <span *ngIf="!profileForm.get('lastName').valid && profileForm.get('lastName').touched" class="help-block">please Enter a valid Lastname with atleast 3 charecter!</span><br>
   
    <label>Email-Id</label><br>
    <input placeholder="Please Enter Email-Id" formControlName="Emailid"><br>
    <span *ngIf="!profileForm.get('Emailid').valid && profileForm.get('Emailid').touched" class="help-block">please Enter a valid Email-Id with . and @ </span><br>
    <label>Password</label><br>
    <input placeholder="Please Enter password" formControlName="password" type="password"><br>


 <span *ngIf="profileForm.controls['password'].hasError('hasNumber') && profileForm.get('password').touched; then notShow11; else notShow"></span>
    <ng-template #notShow11>
      <span  > Must have at least 1 number!</span>
  </ng-template>



    <ng-template  #notShow  >
      <span *ngIf="profileForm.controls['password'].hasError('hasCapitalCase') && profileForm.get('password').touched else notShow1" class="text-danger">
      Must have at least 1 Capital Case!
      </span>
    </ng-template>


  <ng-template #notShow1>
    <span

    *ngIf="profileForm.controls['password'].hasError('haslengthCase') && profileForm.get('password').touched else notShow12">
    Must have length 1 special charecter!
    </span>
  </ng-template>


  <ng-template #notShow12>
    <span *ngIf="profileForm.get('password').errors?.minlength  && profileForm.get('password').touched else notShow13">
    Please enter minimum 8 charecter
    </span>
  </ng-template>
  <ng-template #notShow13>
    <span
   *ngIf="profileForm.get('password').errors?.required  && profileForm.get('password').touched">
    Please enter the password!
    </span>
  </ng-template>
<br>

  <button type="submit" class="btn1" [disabled]=!profileForm.valid >Submit</button>
  <button type="submit" class="btn1" (click)="onreset($event)">reset</button><br>
  </form>
    
 
  <button type="submit" class="btn1" (click)="onlogin()">login</button>
    </div>










    <table>
      <tr>
        <td>
         First name
        </td>
        <td>
         Last name
        </td>
        <td>
          email
        </td>
        <td>
          password
        </td>
        <td>
          delete
        </td>
        <td>
          update
        </td>
      </tr>
      <tr *ngFor="let emp of userservice.employees">
        <td>
         {{emp.firstName}}
        </td>
        <td>
        {{emp.lastName}}
        </td>
        <td>
          {{emp.Emailid}}
        </td>
        <td>
          {{emp.password}}
        </td>
        <td>
          <button class="button1" (click)="ondelete(emp._id,profileForm)">Delete</button>
        </td>
        <td>
          <button  class="button1" (click)="onupdate(emp)">update</button>
        </td>
      </tr>
    </table> -->













    <button class="btn btn-primary btn2" (click)="signinwithgoogle('Google')">Google</button>
<button class="btn btn-primary btn2" (click)="signoutwithgoogle('Google')">Google out</button>