<div class="abc">
      <h5>*please enter the email address which you used in registration in few seconds you will recive mail follow it's instraction</h5><br>
<form  [formGroup]="profileForm"  (ngSubmit)="onSubmit1($event)" enctype="multipart/form-data">
     
      <input type="text" id="login"formControlName="Emailid1" [(ngModel)]="username" name="login" placeholder=" Please Enter Email"><br><br>
      <button type="submit" class="btn btn-primary btn1" value="Log In" [disabled]=!profileForm.valid>Submit</button><br>
</form><br>
<div class="worning" *ngIf="condition==='Error in sending email!'">*please enter valid email </div>
<div class="success" *ngIf="condition==='email send successfully!'">*please cheack your email</div>
</div>

