.abc{
    width:50%;
    height:20%;
    margin-top:13%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border:2px solid black;
    padding:5%;
    background-color: white;
    border-radius: 20px;
}
.btn1{
    margin-left:40%;
}
input{
    width:100%
}
.success{
    color:blue;
}
.error{
    color:red;
}