
<div class="abc">
  <h5>*Please enter strong password for login</h5><br>
   <form  [formGroup]="profileForm"  (ngSubmit)="onSubmit1($event)" enctype="multipart/form-data">
    <input type="text" formControlName="password" name="login" placeholder="password"><br><br>


    <span *ngIf="profileForm.controls['password'].hasError('hasNumber') && profileForm.get('password').touched; then notShow11; else notShow"></span>
            
<!--Conditions for password validations-->

            <ng-template #notShow11>
            <span> Must have at least 1 number!</span>
            </ng-template>



            <ng-template  #notShow>
            <span *ngIf="profileForm.controls['password'].hasError('hasCapitalCase') && profileForm.get('password').touched else notShow1" class="text-danger">
            Must have at least 1 Capital Case!
            </span>
            </ng-template>


            <ng-template #notShow1>
            <span *ngIf="profileForm.controls['password'].hasError('haslengthCase') && profileForm.get('password').touched else notShow12">
            Must have length 1 special charecter!
            </span>
            </ng-template>


            <ng-template #notShow12>
            <span *ngIf="profileForm.get('password').errors?.minlength  && profileForm.get('password').touched else notShow13">
            Please enter minimum 8 charecter
            </span>
            </ng-template>

            <ng-template #notShow13>
            <span *ngIf="profileForm.get('password').errors?.required  && profileForm.get('password').touched">
            Please enter the password!
            </span>
            </ng-template>

    <input type="text" id="login"formControlName="password1" name="login" placeholder="Confirm password"><br><br>

     <button type="submit" class="btn btn-primary btn1" value="Log In" [disabled]=!profileForm.valid>Submit</button><br>
   </form><br>
<div class="success" *ngIf="content==='successfully changed'">*Successfully changed please try to login with changed password</div>
<div class="error" *ngIf="content==='error'">*you can only try to change password one time or Some error accured please try again</div>
  </div>