<app-header></app-header><br>
<app-slider></app-slider><br>

<div class="container">

  <table *ngIf="rows.length > 0" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Emailid</th>
        <th>Update profile</th>
        <th>Remove profile</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let emp of rows;let i = index">
            <td>{{i+1}}</td>
         
            <td *ngIf="emp.filename"><img src="http://localhost:8000/images/{{emp.filename}}" height="100" width="100"></td>
  
            <td *ngIf="!emp.filename"><p>NO image</p></td>
          
            <td>{{ emp.firstName }}</td>
            <td>{{ emp.lastName }}</td>
            <td>{{ emp.Emailid }}</td>
            <td><button (click)="getvaluebeforemodalopen($event);open2()" value="{{emp._id}}" id="{{i}}">update</button></td>
            <td><button (click)="ondelete(emp._id,profileForm)" value="{{emp._id}}" id="{{i}}">delete</button></td>
        </tr>
      
      </tbody>
    </table>
  </div>
