.modal-header{
    background-color: #90ee90;
    }
    button{
    background-color: #90ee90;
    border: none;
    color: black;
    }
    button:hover{
        background-color: #90ee90 !important;
        color: black;
    }
    button:disabled,
    button[disabled]{
    border: none;
    background-color: #90ee90;
    color: rgba(15, 2, 2,0.2) !important;
    opacity: 0.5;
    }
    a{
    color:#90ee90
    }
    